<%- include('./partials/header') -%>

<div style="height: 100vh; display: flex;align-items: center;justify-content: center; background: #000;">
<div>
  <center><a href='/gatepass'><button class="btn btn-primary ">gatepass</button></a></center>
  <br> <center> <a href="/arwa"><button class="btn btn-primary " >arwa</button></center></a>
  <br><center><a href="/"><button class="btn btn-primary ">root</button></a></center>
  <br><center><a href="/arwa/lab"> <button class="btn btn-primary "> lab</button></a></center>
  <br><center><a href="/branreport"> <button class="btn btn-primary "> bran report</button></a></center>
</div>
</div>
<%- include('./partials/footer') -%>