<%- include('./partials/header') -%>

<div class="center">

  <a href='/gatepass'><button >gatepass</button></a>
  <a href="/arwa"><button>arwa</button></a>
  <a href="/"><button>root</button></a>
  <a href="/arwa/lab"> <button> lab</button></a>
</div>

<%- include('./partials/footer') -%>