<%- include('partials/header') -%>



<!-- passing the data from the ejs to input to vue app  -->
<input id="ejsdata" type="text" class="d-none" value="[]">


<div id="app" class="d-none">

  <nav-bar>
    <a href="<%= titlehref %> " class="navbar-brand">
      <%= title?title:"" %>
    </a>
  </nav-bar>


  <div class="p-4 card bg-light ">
    this is dashboard
  </div>

</div>

<%- include('partials/footer') -%>