<%- include('partials/header') -%>



<!-- passing the data from the ejs to input to vue app  -->
<input id="ejsdata" type="text" class="d-none" value="[]">


<div id="app" class="d-none">

  <nav-bar>
    <%= title?title:"Deafult Title" %>
    <div class="badge font-monospace fw-lighter" style="font-size: 12px;font-weight: 200;">(<%= user?user:"" %>)</div>
  </nav-bar>


  <div class="container my-4" style="min-height: 70vh;">

    <a href="/branreport" class="badge bg-secondary">Bran Register</a>  / 
    <hr><br>
    <a href="/milling" >milling logs</a> / 
    <a href="/milling" >milling lab report</a> / 
    <hr><br>
    <a href="/gateman" >gateman</a> / 
    <a href="/gateman/allin" >allin</a> / 
    <a href="/gateman/kanta" >kanta</a> / 
    <a href="/gateman/loadunload" >loadunload</a> / 

  </div>

</div>



<%- include('partials/footer') -%>