.delbtn{
  position:relative;bottom: 111px;left: 200px;
}
.h-0{
  height: 0px;
}
.navbar{
  position: relative;
  top: 0px;
  z-index: 1;
}
.nav-dropdown{
  display: none;
  position: absolute;
  right: 0px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 0px;
  z-index: 1;
}
.dashcard{
  max-width: 40%;
}

.mytable{
  columns: 9;
}
.edit{
  position: absolute;
  bottom:70px;
}
hr{
  margin:0%;padding:0%
}