<%- include('../partials/header') -%>



<!-- passing the data from the ejs to input to vue app  -->
<input id="ejsdata" type="text" class="d-none" value="[]">


<div id="app" class="d-none">

  <nav-bar>
      <%= title?title:"Deafult Title" %>
  </nav-bar>


  <div class="p-4 card bg-light container">
    <h1>Log In</h1>
    <form action="/login" method="post" autocomplete="off">
    Username : nk <br> 
    <input type='text' name="userName"><br>
    Password : 123<br> 
    <input type='password' name="password"><br>
    <input type='submit' value="submit">
    </form>
  </div>

</div>



<%- include('../partials/footer') -%>