<tr>
  <td class="p-2 px-4">

    <label for="">
      <%= label %> 
    </label>
  </td>
  <td class="p-2 px-4 ">
    
  : <input type="datetime-local" name="date" id=<%=inputId%> value="" style="border:none; width: 205px;">

    <script type="text/javascript ">
      var d = new Date();
      var elem = document.getElementById(<%=inputId%>);
      elem.value = d.toISOString().slice(0, 16);
    </script>
  </td>
</tr>